<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>
	<div>
		Welcome to the Home Page.
	</div>
	<div>
		<ul>
			<li>
				User: <span th:text="${name}"></span>
			</li>
			<li>
				Principal: <span th:text="${principal}"></span>
			</li>
		</ul>
	</div>
	<div>
		<a href="authorities">Authorities</a>
	</div>
	<div>
		<a href="session">Http Session</a>
	</div>
</body>
</html>

