<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Session</title>
</head>
<body>
	<div>
		Welcome to the HttpSession Page.
	</div>
	<div>
		<ul th:each="item: ${attrs}">
			<li>
				<span th:text="${item.key}"></span> -- <span th:text="${item.value}"></span>
			</li>
		</ul>
	</div>
	<div>
		<a href="/">Home</a>
	</div>
	<div>
		<a href="/authorities">Authorities</a>
	</div>
</body>
</html>

