<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>
	<div>
		Welcome to the Authorities Page.
	</div>
	<div>
		<ul>
			<li>
				Authorities: <span th:text="${authorities}"></span>
			</li>
		</ul>
	</div>
	<div>
		<a href="/">Home</a>
	</div>
	<div>
		<a href="session">Http Session</a>
	</div>
</body>
</html>

