<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User</title>
</head>
<body>
	<div>
		Welcome to the User Page.
	</div>
	Hello, <span th:text="${name}"></span>
	<div>
		<a href="logout">Sign Out</a>
	</div>
</body>
</html>

